In [1]:
import geopandas

df = geopandas.read_file("world_flights_soei4h.json")

In [2]:
df.head()

,icao24,origin_country,callsign,airline,country,geometry
0,7c81b0,Australia,ZWI,missing_info,missing_info,"LINESTRING Z (145.09650 -37.96880 121.92000, 1..."
1,7c811b,Australia,ZSD,missing_info,missing_info,"LINESTRING Z (145.09950 -37.97700 83.82000, 14..."
2,7c8089,Australia,ZOB,missing_info,missing_info,"LINESTRING Z (152.70550 -26.23650 342.90000, 1..."
3,7c7fbe,Australia,ZIO,missing_info,missing_info,"LINESTRING Z (150.97290 -33.91310 205.74000, 1..."
4,7c7f47,Australia,ZFD,missing_info,missing_info,"LINESTRING Z (144.74670 -37.93670 106.68000, 1..."

In [3]:
df['origin_country'].unique()

array(['Australia', 'United Kingdom', 'United States', 'France',
       'Malaysia', 'Mexico', 'Canada', 'Ukraine', 'Indonesia', 'Germany',
       'Japan', 'India', 'Spain', 'Denmark', 'Malta', 'Viet Nam',
       'Switzerland', 'Russian Federation', 'Estonia', 'Namibia',
       'Uzbekistan', 'Taiwan', 'Myanmar', 'United Arab Emirates',
       'Turkey', 'Republic of Korea', 'Czech Republic', 'Greece',
       'Thailand', 'Singapore', 'Latvia', 'Austria', 'Tunisia',
       'Lithuania', 'Portugal', 'Brazil', 'San Marino', 'Sweden',
       'Saudi Arabia', 'Iceland', 'Chile', 'Ireland', 'New Zealand',
       'South Africa', 'Poland', 'Romania', 'Jordan', 'Morocco', 'Qatar',
       'Pakistan', 'Philippines', 'Sri Lanka', 'Oman',
       'Kingdom of the Netherlands', 'Italy', 'Norway', 'Argentina',
       'Egypt', 'Lebanon', 'Mauritius', 'Bulgaria',
       'Libyan Arab Jamahiriya', 'Belgium', 'Ecuador', 'China', 'Kuwait',
       'Slovakia', 'Luxembourg', 'Iraq', 'Bahrain', 'Fiji', 'Finland',
       'Republic of Moldova', 'Ethiopia', 'Israel', 'Algeria', 'Panama',
       'Trinidad and Tobago', 'Belarus', 'Hungary', 'Bangladesh',
       'Papua New Guinea', 'Rwanda', 'Serbia', 'Colombia',
       'Brunei Darussalam', 'Solomon Islands', 'Syrian Arab Republic',
       'Nepal', 'Peru', 'Antigua and Barbuda', 'Afghanistan', 'Georgia',
       'Angola', 'Bolivia', 'Kazakhstan', 'Nigeria', 'Kenya',
       'Islamic Republic of Iran', 'Croatia', 'Venezuela', 'Seychelles',
       "Lao People's Democratic Republic", 'Cambodia', 'Vanuatu',
       'Honduras', '', 'Bhutan'], dtype=object)

In [4]:
df_usa = df[df["origin_country"] == "United States"]
df_usa.head()

,icao24,origin_country,callsign,airline,country,geometry
16,a7c750,United States,XSR600,missing_info,missing_info,"LINESTRING Z (-96.95940 38.24260 6728.46000, -..."
56,a669b2,United States,WGA9512,missing_info,missing_info,"LINESTRING Z (-88.40370 28.62050 12641.58000, ..."
57,ac710c,United States,WDY901,missing_info,missing_info,None
59,aaf2ae,United States,WAL2002,missing_info,missing_info,"LINESTRING Z (-88.85110 29.39280 9380.22000, -..."
85,a67231,United States,VOI5938,Volaris,Mexico,"LINESTRING Z (-114.55530 30.62590 11010.90000,..."

In [5]:
len(df_usa)

6388

In [6]:
df_usa.to_file("mini_world_flights_usa.geojson", driver='GeoJSON')